h3,h2{
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 20px;
  /*padding: 80px 50px;*/
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
	
}